<div class="container">
    <h1>Data Binding</h1>
    <ol>
        <li>
            <h2>String Interpolation</h2>
            <p>My name is <q>{{firstName}}</q></p>
        </li>
        <li>
            <h2>Property Binding</h2>
            <p>
                What are your full names ? 
                <!-- Property binding uses square b
                    rackets -->
                <q>
                    <span [innerText]="fullName"></span>
                </q>
            </p>
            <p>
                Where do you live ? 
                <q>
                    <span [innerText]="about"></span>
                </q>
            </p>
        </li>
        <li>
            <h2 (click)="addText()" (mouseleave)="removeText()" (mouseover)="handleHover()">Event Binding <span class="click" [innerText]="clicked"></span></h2>
            <!-- Event binding uses parenthesis -->
            <p class="error"> 
            an error encountered on implementing another event binding example using the code below. 
            It is caused by addition of 'e' <br>
            <code style="color: black">
                &lt; input type="text" (input)="passValueToComponent(e)" /&gt;

            </code>

                <!-- <input type="text" (input)="passValueToComponent(e)" /> -->
            </p>
        </li>
        <li>
             <h2>Two way binding </h2>
            <input type="text" [(ngModel)]="answer" placeholder="Add some text to see magic"/>
            <p>{{answer}}</p>
        </li>
    </ol>
    <p>
        Property binding uses <code> square brackets [] </code> while Event binding uses <code>parenthesis ()</code> .
        Two way binding uses bothe the square bracket and parenthesis in that order, i.e, [(ngModel)]="variable"
    </p>
    <div class="exercise">
        <h1>Exercise</h1>
        <input type="text" [(ngModel)]="value" /> <br> <br>
        {{value}} <br><br>
        <button [disabled]="iAmDisabled" (click)="handleClick()">Submit</button>
        <p>the button is diabled when you type <i>submitted</i> in the above input.</p>
    </div>
</div>